<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="screen">
        
    </div>
    <script>
        function UserComponent(users) {
            const userLis = users.map((user) => `<li>${user.name} : ${user.age}</li>`).join("")
            //const userLis = users.map(({name, age}) => `<li>${name} : ${age}</li>`).join("")
         return `<ul>${userLis}</ul>`
        }

        function randerHtml(component){
            document.querySelector("#screen").innerHTML = component
        }
        
        //fetch 비동기적으로 
   function toJson(res) {
        return res.json()
    }
    fetch("/api/users")
            .then(toJson)
            .then(UserComponent)
            .then(renderHtml)


    function order(orderSheet) {
        console.log("주문을 받았다: ", orderSheet.name)
        return new Promise((resolve, reject) => {
            setTimeout(() => {
                resolve({name: orderSheet.name})
                //reject("메롱")
            }, 1000)
        })
    }

    const person = {
        eat(food) {
            console.log(`${food.name}을 먹는다`)
            return "똥"
        },
        play() {
            console.log("논다")
        }
    }
    console.log("주문했다");
    order({
        name: "페페로니 피자"
    })
    
    .then(food => person.eat(food))
    .then(something => console.log(something))
    .catch(err => console.log("고소한다"))
    person.play()


        
    </script>
</body>
</html>