<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <!--서버에서 -->
    {{#each users}} 
    <ul>
        <li>{{name}} : {{age}}</li>
    </ul>
    {{/each}}
    
</body>
</html>